body {
  background-image: url('../assets/city-background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: rgb(187, 187, 187);
  margin: 0 150px;
  font-size: 16px;
  text-shadow: rgb(0, 12, 65) 1px 1px 1px;
}

.wrap {
  backdrop-filter: blur(10px);
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 50px;
  background-color: rgba(0, 0, 0, 0.5);
  background: radial-gradient(circle, hsla(278, 96%, 62%, 0.3) 0%, rgba(70, 225, 252, 0.158) 100%);
}

h1 {
  color: rgb(14, 219, 38);
  text-align: center;
  font-size: 5rem;
  font-family: 'Times New Roman', Times, serif;
}

h2 {
  font-family: 'Bebas Neue', sans-serif;
  letter-spacing: 4px;
  word-spacing: 8px;
  color: rgb(223, 223, 223);
}

.main {
  display: flex;
  flex-direction: row-reverse;
}

@media (max-width: 1000px) {
  body {
    margin: 0 75px;
  }

  h1 {
    font-size: 4rem;
  }

  .main {
    flex-direction: column;
  }
}

@media (max-width: 530px) {
  body {
    margin: 0;
  }

  .wrap {
    padding: 0 10px;
  }
}

.image {
  display: block;
  max-width: 300px;
  border: solid rgb(156, 4, 202) 10px;
  flex: 1 0 0;
  align-self: center;
  margin: 20px 0;
}

.image::after {
  content: '';
  display: block;
  width: 500px;
  height: 500px;
  background: radial-gradient(circle, rgba(63, 94, 251, 1) 0%, rgba(252, 70, 107, 1) 100%);
}

@media (max-width: 768px) {
  .image {
    max-width: 200px;
  }
}

.abilities {
  /* background-color: rgba(0, 0, 0, 0.5); */
  padding: 30px;
  min-width: 300px;
  flex: 2 0 0;
  align-self: stretch;
}

.abilities ul {
  margin: 20px 0 0 0;
}

ul {
  font-family: 'Courier New', Courier, monospace;
  list-style: none;
}

.turtle {
  color: rgb(156, 4, 202);
}

.description p {
  font-family: 'Courier New', sans-serif;
}

.nav {
  padding: 30px 0 80px;
}

.nav a {
  text-decoration: none;
  color: brown;
  font-family: 'Courier New', Courier, monospace;
}

.nav a::before {
  content: '>';
  display: inline;
  margin: 0 5px 0 0;
}
