.content-wrapper {
  display: grid;
  row-gap: var(--grid-gap);
  column-gap: var(--grid-gap);
}

.item {
  box-sizing: content-box;
  min-width: 250px;
  width: 80%;
  padding: 20px;
}

.img-container {
  min-height: 300px;
  min-width: 250px;
  position: relative;
}

.content-img {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

.name {
  text-align: center;
  margin: 10px 0 0 0;
}

.name a {
  text-decoration: none;
  color: var(--turtle-green);
  text-shadow: 0 0 rgba(0, 0, 0, 0);
  transition: text-shadow 0.2s ease;
}
