body {
  background-image: url('assets/city-day.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: var(--tc-normal-lightgreen);
  font-size: var(--fs-normal);
  font-family: Arial, sans-serif;
  text-shadow: rgb(0, 12, 65) 1px 1px 1px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

.hor-margin-container {
  margin-left: var(--container-hor-margin);
  margin-right: var(--container-hor-margin);
}

.container {
  margin: 0 auto;
  max-width: var(--container-max-width);
}

.header {
  min-height: var(--header-min-height);
  background: linear-gradient(rgb(0, 0, 0), rgba(0, 6, 0, 0.8));
}

.header__container {
  margin-top: var(--header-container-ver-margin);
  margin-bottom: var(--header-container-ver-margin);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: var(--fs-big);
  font-family: 'Ubuntu';
  font-weight: 700;
  white-space: nowrap;
}

.t-letter1,
.m-letter2,
.n-letter3,
.t-letter4 {
  text-transform: uppercase;
}

.t-letter1 {
  color: var(--leonardo-color);
}

.m-letter2 {
  color: var(--donatello-color);
}

.n-letter3 {
  color: var(--raphael-color);
}

.t-letter4 {
  color: var(--michelangelo-color);
}

.nav {
  height: 100%;
}

.nav ul {
  display: flex;
  list-style: none;
  gap: 10px;
}

.nav ul li a {
  font-family: var(--ff-anchor);
  color: var(--ac-normal);
  text-decoration: none;
}

.main {
  flex: 1 1 auto;
  display: flex; /* for vertical stretch */
  flex-direction: column;
  background-color: rgba(0, 6, 0, 0.8);
}

.flex-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.turtle-cards__wrapper {
  grid-template-columns: 1fr 1fr;
  justify-items: center;
}

@media (max-width: 800px) {
  .header__container {
    display: block;
  }

  .header__container > * {
    width: fit-content;
    margin: 0 auto;
  }

  .turtle-cards__wrapper {
    display: block;
  }

  .turtle-cards__item {
    /* width: 80%;           доделать адаптив */
    margin: 0 auto;
    min-width: 0;
  }

  .turtle-cards__img-container {
    min-width: 0;
  }
}

.turtle-cards__item {
  background-color: rgba(5, 36, 0, 0.3);
}

.turtle-cards__img-container {
}

.turtle-cards__img {
}

.turtle-cards__name {
}

.turtle-cards__item:nth-child(1) a:hover {
  text-shadow: 3px 3px var(--leonardo-color);
}

.turtle-cards__item:nth-child(2) a:hover {
  text-shadow: 3px 3px var(--donatello-color);
}

.turtle-cards__item:nth-child(3) a:hover {
  text-shadow: 3px 3px var(--raphael-color);
}

.turtle-cards__item:nth-child(4) a:hover {
  text-shadow: 3px 3px var(--michelangelo-color);
}

/* ========================================== */

.locations {
}

.locations__wrapper {
  grid-template-areas:
    'left right'
    'whole whole';
  justify-items: center;
}

.locations__item {
  background-color: rgba(5, 36, 0, 0.3);
}

.locations__item:nth-child(1) {
  grid-area: left;
}

.locations__item:nth-child(2) {
  grid-area: right;
}

.locations__item:nth-child(3) {
  grid-area: whole;
}

.locations__img-container {
}

.locations__img {
}

.gifs__wrapper {
  grid-template-columns: 1fr 1fr;
  justify-items: center;
}

.gifs__item {
  background-color: rgba(5, 36, 0, 0.3);
}

.see-more {
  text-align: center;
  margin: 20px 0 0 0;
}

.see-more a {
  text-decoration: none;
  color: var(--ac-normal);
}

.dark-fadein {
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
  height: var(--fade-in-out-height);
}

.shredder-zone {
  background-color: rgba(0, 0, 0, 1);
}

.shredder-dark-img {
  max-width: 100%;
}

.deco-container {
  position: relative;
  height: 500px;
}

.droplets {
  color: aqua;
  text-shadow: 0 0 10px aqua;
  position: absolute;
}

.droplets:nth-child(1) {
  top: -100px;
  left: 200px;
}

.droplets:nth-child(2) {
  top: -50px;
  left: 230px;
}

.droplets:nth-child(3) {
  top: -70px;
  left: 170px;
}

.droplets:nth-child(4) {
  top: -35px;
  right: 170px;
}

.droplets:nth-child(5) {
  top: -60px;
  right: 220px;
}

.line {
  position: absolute;
  top: -50px;
  left: 190px;
  width: 600px;
  height: 10px;
  background-color: aqua;
  transform: rotate(-20deg);
  box-shadow: 0 0 20px 10px aqua;
  border: 2px solid rgba(47, 0, 255, 0.25);
}

.dark-fadeout {
  background: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
  height: var(--fade-in-out-height);
}

.footer {
  background: linear-gradient(rgba(0, 6, 0, 0.8), rgb(0, 0, 0));
  min-height: var(--footer-min-height);
}

.footer__container {
  margin-top: var(--footer-container-ver-margin);
  margin-bottom: var(--footer-container-ver-margin);
}

/* ========================= */

h1 {
  color: var(--turtle-green);
  font-family: 'Bebas Neue';
  font-size: var(--fs-h1);
  letter-spacing: 3px;
}

h2 {
  margin: 0.75em 0;
  font-size: var(--fs-h2);
}

.hr {
  margin: 10px 0;
  border: none;
  height: 2px;
  background-color: rgb(39, 119, 119);
}
