:root {
  --container-hor-margin: 50px;
}

.header__container {
  display: block;
}

.header__container > * {
  width: fit-content;
  margin: 0 auto;
}

.intro__container {
  margin-top: 30px;
}

.turtle-cards__wrapper {
  /* display: block; */
}

.turtle-cards__item {
}

.turtle-cards__img-container {
}

/* ==================== */

.locations__wrapper {
  display: block;
}

.locations__item {
  margin-bottom: 30px;
}

.locations__item:last-child {
  margin-bottom: 0;
}

.locations__img-container {
  min-height: 200px;
}

/* ======================== */

.gifs__wrapper {
  display: block;
}

.gifs__item {
  margin-bottom: 30px;
}

.gifs__item:last-child {
  margin-bottom: 0;
}

.gifs__item {
  max-width: 500px;
}

.gifs__img-container {
  min-height: 0;
  padding: 0 0 60% 0;
}
